# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

#Actual Figures
figures/Feb22/*
figures/Figures_Feb23-IS/*
figures/old_figs/*

### Patient Info -- not public for Github ###
figures/ad_sample_info.tsv
figures/AD.tsv
figures/PS_sample_info.tsv

### Old things that don't need to go on github ###
figures/archive/*

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks
